body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  text-align: center;
  padding-bottom: 32px;
}

.team-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-role {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
}

/* ======= FOOTER ======= */
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

/* ======= BASE STYLES ======= */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* Контейнер */
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ======= HEADER ======= */
.header {
  background-color: #ffffff;
  padding: 24px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* ======= CONTACT ======= */
.contact {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* ======= HERO ======= */
.hero {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  transition: background-color 250ms ease;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ======= FEATURES ======= */
.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
}

/* ======= ACCESSIBILITY ======= */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ======= PORTFOLIO ======= */
.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-info {
  padding: 32px 16px;
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
}
